[submodule "webroot/laravel"]
	path = webroot/laravel
	url = https://github.com/laravel/laravel.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/bluepill"]
	path = cookbooks/bluepill
	url = https://github.com/opscode-cookbooks/bluepill.git
